nav.box-contact
  ul
    li
      a(
        target="_blank" 
        href="https://www.facebook.com/thanglonguniversity?locale=vi_VN"
        )
        i.fa-brands.fa-facebook-f
    li
      a(
        target="_blank" 
        href="https://www.instagram.com/thanglonguniversity/"
        )
        i.fa-brands.fa-instagram
    li
      a(
        target="_blank" 
        href="https://www.tiktok.com/@thanglonguniversity"
        )
        i.fa-brands.fa-tiktok