footer.footer
  .container
    .inner-middle
      nav.inner-links
        ul
          li
            a(href="/") Trang chủ
          li
            a(href="/search") Danh sách sản phẩm
          li
            a(href="#") Liên Hệ
      nav.inner-socials
        ul
          li
            a(
              target="_blank" 
              href="https://www.facebook.com/thanglonguniversity?locale=vi_VN "
              )
              i.fa-brands.fa-facebook
          li
            a(
              target="_blank" 
              href="https://www.tiktok.com/@thanglonguniversity"
              )
              i.fa-brands.fa-tiktok
          li
            a(
              target="_blank" 
              href="https://www.instagram.com/thanglonguniversity/"
              )
              i.fa-brands.fa-instagram
    .inner-bottom
      .inner-copyright © 2025 ThangLong. All rights reserved.
      nav.inner-links
        ul
          li
            a(href="#") Điều khoản dịch vụ
          li
            a(href="#") Chính sách bảo mật