footer.footer
  .container
    .inner-middle
      nav.inner-links
        ul
          li
            a(href="#") Trang Chủ
          li
            a(href="#") Danh mục sách
          li
            a(href="#") Tác giả
          li
            a(href="#") Liên Hệ
      nav.inner-socials
        ul
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-facebook
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-tiktok
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-instagram
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fa-brands.fa-youtube
    .inner-bottom
      .inner-copyright © 2025 ThangLong. All rights reserved.
      nav.inner-links
        ul
          li
            a(href="#") Điều khoản dịch vụ
          li
            a(href="#") Chính sách bảo mật