header.header
  .container
    .inner-wrap
      button.inner-button-menu
        img(
          alt="" 
          src="/client/assets/images/icon-menu.png"
          )
      if(settingWebsiteInfo.logo)
        a.inner-logo(href="/")
          img(
            alt="ThangLong BookStore" 
            src=settingWebsiteInfo.logo
            )
      nav.inner-menu
        ul
          li
            a.active(href="/") Trang Chủ
          li
            a(href="javascript:;")  Danh mục sách
            i.fa-solid.fa-caret-down
            ul.inner-sub
              each item in categoryList
                li
                  a(href=`/category/${item.slug}`) #{item.name}
          li
            a(href="#") Sách mới
          li
           a(href="") Liên hệ 
        .overlay
      a.inner-cart(href="/cart")
        i.fa-solid.fa-cart-shopping
        span
          img(
            alt="" 
            src="/client/assets/images/icon-arrow-left.png"
            )
          .inner-number(mini-cart) 1