extends ../layouts/default.pug
include ../mixins/breadcumb.pug
block main
  // Breadcrumb
  +breadcumb(categoryDetail, bookDetail)
  // End Breadcrumb
  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          // Box Images
          .box-images
            .inner-image-main
              .swiper.swiperImagesMain
                .swiper-wrapper 
                  each item in bookDetail.images
                    .swiper-slide
                      .inner-image
                        img(
                          alt="" 
                          src=item
                          )
            .inner-image-thumb
              .swiper.swiperImagesThumb
                .swiper-wrapper 
                  each item in bookDetail.images
                    .swiper-slide
                      .inner-image
                        img(
                          alt="" 
                          src=item
                          )
          // End Box Images
          // Box book Info
          .book-info
            .inner-title-main Thông Tin sách
            .inner-content !{bookDetail.infor}
            .inner-read-more
              button.button-outline Xem tất cả
          // End Box book Info
        .inner-right
          // Box book Detail
          .book-detail
            .inner-title-main Sản phẩm của bạn
            .inner-product
              .inner-image
                img(
                  alt="" 
                  src=bookDetail.avatar
                  )
              .inner-info
                .inner-title #{bookDetail.name}
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  .inner-number 500 lượt đánh giá
            .inner-meta
              .inner-item
                i.fa-solid.fa-ticket-simple
                span Mã sản phẩm:
                span.inner-highlight 28T00001
              .inner-item
                <i class="fa-solid fa-user"></i>
                span Tác giả:
                span.inner-highlight #{bookDetail.author}
              .inner-item
                <i class="fa-solid fa-book"></i>
                span Thể loại:
                span.inner-highlight #{bookDetail.parentName}
              .inner-item
                i.fa-solid.fa-calendar-days
                span Ngày xuất bản:
                span.inner-highlight #{bookDetail.timeFormat}
              .inner-item
                <i class="fa-solid fa-dollar-sign"></i>
                span giá cũ:
                span.old-price #{bookDetail.priceOld.toLocaleString("vi-VN")}đ
              .inner-item
                <i class="fa-solid fa-dollar-sign"></i>
                span giá mới
                span.inner-highlight #{bookDetail.priceNew.toLocaleString("vi-VN")}đ
              .inner-group
                label(for="amount") Số lượng
                input(type="number" class="bookNumber" name ="amount" min =0 max = bookDetail.amount value = 1) 
            .inner-total
              .inner-label Tổng cộng:
              .inner-price 
            button.inner-button-add-cart Thêm Vào Giỏ Hàng
          // End book Tour Detail
  // End Section 10