extends ../layouts/default.pug


block main
  // Section 11
  .section-11(page-cart)
    .container
      .inner-wrap
        .inner-head
          .inner-title Giỏ Hàng
          a.inner-back(href="/")
            | Quay lại mua hàng
            i.fa-solid.fa-angle-right
        .inner-book-list(book-list)
        .inner-coupon
          form(action="" id ="coupon-form")
            input(
              placeholder="Nhập mã giảm giá" 
              type="text"
              name = "coupon"
              id="coupon-input"
              )
            button Dùng Mã
        .inner-list-price
          .inner-item
            .inner-label Tạm tính:
            .inner-price 
              span(cart-sub-total) 0
              span đ
          .inner-item
            .inner-label Giảm:
            .inner-price(cart-discount) -0đ
          .inner-item
            .inner-label Thanh toán:
            .inner-price-highlight 
              span(cart-total) 0
              span đ
  // End Section 11
  
  // Section 12
  .section-12
    .container
      .inner-wrap
        form(action="" id="orderForm")
          .inner-title-main Thông Tin Khách Hàng
          .inner-list-group
            .inner-group
              input(
                placeholder="Họ và tên" 
                type="text"
                id="fullName"
                name="fullName"
                )
            .inner-group
              input(
                placeholder="Số điện thoại" 
                type="text"
                id="number-phone"
                name="numberPhone"
                )
            .inner-group
              input(
                placeholder="Email" 
                type="email"
                id="email"
                name="email"
                )
            .inner-group.inner-two-col
              textarea(placeholder="Địa chỉ" name="place" id="place")
            .inner-group.inner-two-col
              textarea(placeholder="Ghi chú" name="note")
          .inner-title-main Chọn phương thức thanh toán
          .inner-list-method
            .inner-item
              input#methodMoney(
                value="money" 
                name="method" 
                type="radio"
                checked
                )
              label(for="methodMoney") Thanh toán tiền mặt khi nhận hàng
            .inner-item
              input#methodZaloPay(
                value="zaloPay" 
                type="radio"
                name="method"
                )
              label(for="zaloPay") ZaloPay
            .inner-item
              input#methodBank(
                value="bank" 
                name="method" 
                type="radio"
                )
              label(for="methodBank") Chuyển khoản ngân hàng
          .inner-info-bank
            .inner-title Thông tin chuyển khoản
            .inner-text
              div Ngân hàng : Vietcombank
              div Tên tài khoản: Le Van A
              div STK: 0123456789
          .inner-button
            button ĐặT hàng
  // End Section 12