extends ../layouts/default.pug 
include ../mixins/checkbox.pug


block main
  h1.box-title Tài khoản quản trị
  //-section-4
  .section-4 
    .inner-wrap
      .inner-item.inner-label 
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item
        select(filter-status)
          option(value="") Trạng thái 
          option(value="active") Hoạt động 
          option(value="inactive") Tạm dừng
          option(value="initial") Khởi tạo 
      .inner-item.inner-date
        input(type="date" filter-start-date)
        span - 
        input(type="date" filter-end-date)
      .inner-item
        select(filter-role)
          option(value="") Phân quyền
          each roleItem in roleList
            option(value=roleItem.id) #{roleItem.name}
      .inner-item.inner-reset(filter-reset)
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //-Section-4

  //-Section-5
  .section-5 
    .inner-wrap
      .inner-change-status(change-multi data-api=`/${pathAdmin}/settings/change-multi`)
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="active") Hoạt động
            option(value="inactive") Dừng hoạt động
            option(value="initial") Khởi tạo
        button.inner-button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm" search)
      .inner-button-create
        a(href=`/${pathAdmin}/settings/adminCreate`)  + Tạo mới
  //-Section-5

  //-Section-6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("checkAll","checkAll")
            th.text-left Họ tên
            th.text-center Ảnh đại diện
            th.text-center Email
            th.text-center Số điện thoại
            th.text-left Nhóm quyền
            th.text-left Chức vụ
            th.text-left Trạng thái
            th.text-left Hành động
        tbody
          each item in accountAdminList
            tr
              td.text-left 
                +checkbox-30("checkItem","checkItem", item.id)
              td.text-left #{item.fullname}
              td.text-center 
                img(src=item.avatar, alt="")
              td.text-center #{item.email}
              td.text-center #{item.numberPhone}
              td.text-left #{item.roleName}
              td.text-left #{item.level}
              td.text-left 
                if item.status == 'active'
                  span.tag.tag-green Hoạt động
                else if item.status == 'inactive'
                  span.tag.tag-red Tạm dừng
                else 
                  span.tag.tag-orange Khởi tạo
              td.text-left 
                .box-actions
                  a(href=`/${pathAdmin}/settings/editAccountAdmin/${item.id}` class="inner-edit")
                    <i class="fa-solid fa-pen-to-square"></i>
                  a(href="javascript:;" class="inner-remove" buttonRemove data-api=`/${pathAdmin}/settings/removeAccount/${item.id}`)
                    <i class="fa-solid fa-trash-can"></i>
               
  //-Section-6
  //-Section-7
  .section-7
    span.inner-label Hiển thị #{pagination.skip +1 } - #{pagination.skip + accountAdminList.length} của #{pagination.totalRecord} 
    select(class="inner-pagination" box-pagination)
      - for (let i = 1; i <= pagination.totalPage; i++)
        option(value=i) Trang #{i}
  //-Section-7



  