extends ../layouts/default.pug


block main
  if(pers.includes("dashboard-view"))
    h1.box-title  Tổng quan
    //- Section-1
    .section-1
      .inner-item
        .inner-icon
          img(src="assets/images/user.png", alt="")
        .inner-content
          .inner-title Quản trị viên
          .inner-number #{totalAdmin}
      .inner-item
        .inner-icon
          img(src="assets/images/order.png", alt="")
        .inner-content
          .inner-title Đơn hàng
          .inner-number #{totalRecord}
      .inner-item
        .inner-icon
          img(src="assets/images/revenue.png", alt="")
        .inner-content
          .inner-title Doanh thu
          .inner-number #{totalRevenue.toLocaleString("vi-VN")}đ
    //- Section-1
    //- Section-2
    .section-2
      .inner-head
        h2.inner-title Biểu đồ doanh thu 
        input.inner-filter(type="month" filter-month)
      .inner-chart 
        canvas(id="revenue-chart")
    //- Section-2

    //- Section-3
    .section-3
      h2.inner-title-main Đơn hàng mới

      .table-1 
        table
          thead
            tr 
              th.text-left Mã
              th.text-left Thông tin khách 
              th.text-left Danh sách sách 
              th.text-left Thanh toán 
              th.text-left Trạng thái
              th.text-left Ngày đặt
          tbody
            each item in newOrder
              tr 
                td.text-left
                  .text-primary #{item.code}
                td.text-left
                  div Họ tên: #{item.fullName}
                  div SDT: #{item.phone}
                  div Ghi chú: #{item.note}
                td.text-left 
                  .book-list 
                    each book in item.items
                      .book-item
                        img(src=book.avatar, alt="" class="inner-image")
                        .inner-content
                          .inner-name #{book.bookName}
                td.text-left 
                  div Tổng tiền: #{item.total.toLocaleString("vi-VN")}đ
                  div Giảm: 0đ
                  div Mã giảm: UUDAITHANG12
                  div Thanh toán: Tổng tiền: #{item.total.toLocaleString("vi-VN")}đ
                  div PTTT: #{item.paymentMethodName}
                  div TTTT: #{item.paymentStatusName}
                td.text-left 
                  span(class=`tag ${item.statusClass}`) #{item.statusName}
                td.text-right
                  div #{item.createdAthour}
                  div #{item.createdAtDay}  
    //- Section-3


    
