extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Đơn hàng: #{orderDetail.code}
  .section-8
    form(action="" id="orderEdit")
      .inner-group(style = "display:none;")
        label.inner-label(for="id") ID
        input(type="text" name="id" id="id" value=orderDetail.id)
      .inner-group
        label.inner-label(for="name") Tên khách hàng
        input(type="text" name="name" id="name" value=orderDetail.fullName)
      .inner-group
        label.inner-label(for="numberPhone") Số điện thoại
        input(type="number" name="numberPhone" id="number-phone" value=orderDetail.phone)
      .inner-group
        label.inner-label(for="email") Email khách hàng
        input(type="email" name="email" id="email" value=orderDetail.email)
      .inner-group.inner-two-col
        label.inner-label(for="note") Ghi chú
        textarea(name="note" id = "note" value=orderDetail.note readonly) 
      .inner-group
        label.inner-label(for="paymentMethod") Phương thức thanh toán
        select(name="paymentMethod" id="paymentMethod")
          each item in paymentMethodList
            option(value=item.value selected = (item.value == orderDetail.paymentMethod)) #{item.label}  
      .inner-group
        label.inner-label(for="paymentStatus") Trạng thái thanh toán
        select(name="paymentStatus" id="paymentStatus")
          each item in paymentStatusList
            option(value=item.value selected = (item.value == orderDetail.paymentStatus)) #{item.label}  
      .inner-group
        label.inner-label(for="status") Trạng thái
        select(name="status")
          each item in statusList
            option(value=item.value selected = (item.value == orderDetail.status)) #{item.label} 
      .inner-group
        label.inner-label(for="date") Ngày đặt
        input(type="text" name="date" id="date" value=orderDetail.createdAtFormat readonly)
      .inner-group
        label.inner-label(for="list") Danh sách sách
        .book-list 
          each item in orderDetail.items
            .book-item
              img(src=item.avatar, alt="" class="inner-image")
              .inner-content
                .inner-name #{item.name}
                .inner-desc
                  div Số lượng: #{item.quantity} x #{item.priceNew.toLocaleString("vi-VN")}đ
                  div Thể loại: #{item.categoryName}
                  div Tác giả: #{item.authorName}
      .inner-group
        label.inner-label(for="pay") Thanh toán
        .inner-pay
          div Tổng tiền: #{orderDetail.total.toLocaleString("vi-VN")}đ
          div Giảm: 0đ
          div Mã giảm: UUDAITHANG124
          .inner-total-price Thanh toán: #{orderDetail.total.toLocaleString("vi-VN")}đ
      .inner-button.inner-two-col
        button Cập nhật
    .inner-back
        a(href=`/${pathAdmin}/orders/list`) Quay lại danh sách 