extends ../layouts/default.pug 
include ../mixins/checkbox.pug


block main
  h1.box-title Nhóm quyền
  //-Section-5
  .section-5 
    .inner-wrap
      .inner-change-status(change-multi data-api=`/${pathAdmin}/settings/trash-multi`)
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="remove") xóa
        button.inner-button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm" search)
      .inner-button-create
        a(href=`/${pathAdmin}/settings/createRole`)  + Tạo mới  
  //-Section-5

  //-Section-6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("checkAll","checkAll")
            th.text-left Tên nhóm quyền
            th.text-left Mô tả ngắn
            th.text-center Hành động
        tbody
          each item in roleList
            tr
              td.text-left 
                +checkbox-30("checkItem","checkItem", item.id)
              td.text-left #{item.name}
              td.text-left #{item.desc}
              td.text-center
                .box-actions
                  a(href=`/${pathAdmin}/settings/roleEdit/${item.id}` class="inner-edit")
                    <i class="fa-solid fa-pen-to-square"></i> 
                  a(href="javascript:;" class="inner-remove" buttonRemove data-api=`/${pathAdmin}/settings/roleDelete/${item.id}`)
                    <i class="fa-solid fa-trash-can"></i> 
                      
  //-Section-6





  