mixin product-item(item)
  .product-item
    .inner-image
      a(href=`/books/detail/${item.slug}`)
        img(
          alt="" 
          src=item.avatar
          )
    .inner-discount
      i.fa-solid.fa-bolt
      | Giảm -#{item.priceDiscount}%
    .inner-content
      h3.inner-title
        a(href=`/books/detail/${item.slug}`) #{item.name}
      .inner-prices
        .inner-price-old
          | #{item.priceOld.toLocaleString("vi-VN")}
          span.inner-unit đ
        .inner-price-new
          | #{item.priceNew.toLocaleString("vi-VN")}
          span.inner-unit đ
      .inner-desc
        div.inner-more
          | Tác Giả:
          b #{item.author}
        div.inner-more
          | Ngày xuất bản:
          b #{item.timeFormat}
        div.inner-more
          | Thể Loại:
          b #{item.parentName}
      .inner-meta
        .inner-rating
          .inner-stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
        .inner-stock
          .inner-label Số lượng còn:
          .inner-number #{item.amount}